# modeltraining1- ch

In [28]:
import numpy as np
import pandas as pd
df = pd.read_csv("churning model/Churn_Modelling.csv")
print(df.shape)
(10000, 14)
df.columns

df.drop(["RowNumber","CustomerId","Surname"], axis=1, inplace=True)
df.head()

(10000, 14)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [40]:
df.Geography.unique()
array(['France', 'Spain', 'Germany'], dtype=object)
df.Gender.unique()
array(['Female', 'Male'], dtype=object)

NameError: name 'array' is not defined

In [36]:
geography = pd.get_dummies(df.Geography)
gender = pd.get_dummies(df.Gender)
df = pd.concat([df, geography, gender], axis=1)
df[["Geography","Gender","France","Germany","Spain","Female","Male"]].head()

  Geography  Gender  France  Germany  Spain  Female   Male
0    France  Female    True    False  False    True  False
1     Spain  Female   False    False   True    True  False
2    France  Female    True    False  False    True  False
3    France  Female    True    False  False    True  False
4     Spain  Female   False    False   True    True  False

In [34]:
df.Balance = np.where(df.Balance==0, 0, 1)
df.Balance.value_counts()
df.Age.plot(kind="hist", figsize=(10,6))

Balance
1    6383
0    3617
Name: count, dtype: int64

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [46]:

from sklearn.model_selection import train_test_split
X = df.drop(["Exited","Geography","Gender"], axis=1)
y = df["Exited"]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.shape
(7500, 13)
X_test.shape
(2500, 13)

(2500, 13)

In [47]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_transformed = scaler.transform(X_train)
X_test_transformed = scaler.transform(X_test)

In [49]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
# Create a model and train it
model = LogisticRegression()
model.fit(X_train, y_train)
# Make predictions
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)
# Evaluate model performance
print(accuracy_score(y_train, y_train_pred))
print(accuracy_score(y_test, y_test_pred))

0.7849333333333334
0.7944